.history/*
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
# Exclude environment files that may contain secrets
/.env.dev
/.env.test
/.env.prod
# Keep the template files for reference
!/.env.dev.example
!/.env.test.example
!/.env.prod.example
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
