includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - var/
        - vendor/
    checkMissingIterableValueType: false
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml